<form nz-form [formGroup]="organizationFormGroup" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7">组织名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-input-group>
        <input type="text" nz-input formControlName="organizerName" placeholder="组织名称" />
      </nz-input-group>
      <nz-form-explain *ngIf="organizationFormGroup.get('organizationName')?.dirty && organizationFormGroup.get('organizationName')?.errors">请输入组织名称
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">描述信息</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-input-group>
        <input type="text" nz-input formControlName="description" placeholder="描述信息" />
      </nz-input-group>
      <nz-form-explain *ngIf="organizationFormGroup.get('description')?.dirty && organizationFormGroup.get('description')?.errors">
        请输入描述信息</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">联系方式</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-input-group>
        <input type="text" nz-input formControlName="contact" placeholder="联系方式" />
      </nz-input-group>
      <nz-form-explain *ngIf="organizationFormGroup.get('contact')?.dirty && organizationFormGroup.get('contact')?.errors">
        请输入联系方式</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">来自于</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-select formControlName="from">
        <nz-option *ngFor="let org of orgForm" [nzValue]="org" [nzLabel]="org"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="organizationFormGroup.get('from')?.dirty && organizationFormGroup.get('from')?.errors">请选择来源
        </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

</form>
